@model demoDotnet.Models.StudentData
@{
  ViewData["Title"] = "New Student";
}

<div>
  <h1 class="text-center" class="display-4">Create Student</h1>
	@using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
			<div class="row">
				<div class="col-lg-6">
					<label>Name :</label>
					@Html.TextBoxFor(Model => Model.Student.Name, new { @class = "form-control" })
				</div>

				<div class="col-lg-6">
					<label>Status :</label>
					@Html.DropDownListFor(Model => Model.Student.Status, new SelectList(new string[] {"กำลังศึกษา", "จบการศึกษา", "ลาออก"}, "กำลังศึกษา"), htmlAttributes: new { @class = "form-control" })
				</div>

				<div class="col-lg-6">
					<label>ClassRoom :</label>
					<select class="form-control select-two" id="ClassroomId" name="classroomId">
						@foreach (var classroom in Model.Classrooms) {
							<option value="@classroom.Id">@classroom.Name</option>
						}
					</select>
				</div>

				<div class="col-lg-6">
					<label>Gender :</label>
					<select class="form-control" id="GenderId" name="genderId">
						@foreach (var gender in Model.Genders) {
							<option value="@gender.Id">@gender.Name</option>
						}
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<input type="submit" value="Save" class="btn btn-success btn-block"/>
				</div>
			</div>
    }
</div>

<script>
	$(document).ready(function() {
		<%-- $('.select-two').select2(); --%>
	});
</script>